@import '../../App.scss';

.blob{
    width: 570px;
    height: 570px;
    transform: rotate(168.706deg);
    &-image{
        width: 120.903px;
        height: 115.651px;
        //transform: rotate(-9deg);
        transform-origin: 50% 50%;
    }
}
