@import '../../App.scss';

.blob{
    width: 570px;
    height: 570px;
    transform: rotate(171.706deg);
    &-image{
        width: 100.903px;
        height: 100.651px;
        //transform: rotate(-9deg);
        transform-origin: 50% 50%;
    }
}
