@import '../../App.scss';

.contactme{
    display: flex;
    justify-content: center;
    &-title{
        color: $title_color;
        text-align: center;
        font-family: Poppins-Medium;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 123px;
    }
    &-subtitle{
        color: $subtitle_color;
        font-family: Poppins-Medium;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-nameemail{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 10px;
        &-name{
            width: 516px;
            //label
            .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
                color: $title_color;
                font-weight: bolder;
            }
            //onclick input
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
                border-color: $title_color;
            }
            //onclick label
            .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
                color: $title_color;
            }
            //placeholder
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
                color: #B3B2B2;
            }
            //input
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: $title_color;
            }
        }
        &-email{
            width: 516px;
            //label
            .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
                color: $title_color;
                font-weight: bolder;
            }
            //onclick label
            .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
                color: $title_color;
            }
            //placeholder
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
                color: #B3B2B2;
            }
            // input
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: $title_color;
            }
            //onclik input
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
                border-color: $title_color;
            }
        }
    }
    &-project{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 10px;
        &-text{
            width: 1113px;
            //label
            .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
                color: $title_color;
                font-weight: bolder;
            }
            //onclick label
            .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
                color: $title_color;
            }
            //text area square
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
                border-color: $title_color;
            }
            //onclick text area square
            .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
                border-color: $title_color;
            }
            //placeholder
            .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
                color: #B3B2B2;
            }
        }
    }
    &-sendmessage{
        display: flex;
        justify-content: center;
        margin: 50px;
        &-btn{
            width: 265px;
            height: 52px;
            background-color: $button_color;
            color: #FFFFFF;
            font-size: 24px;
            &:hover{
                background-color: $title_color;
                color: white;
                border-color: $title_color;
            }
        }
    }
}



